.flight-data {
  margin-top: 20px; /* Adjust as needed */
}

.flight-data table {
  width: 45%;
  border-collapse: collapse;
}

.flight-data td {
  padding: 10px; /* Add padding for spacing */
}

/* Add a margin-right to create a 20px gap between each td */
.flight-data td:not(:last-child) {
  margin-right: 20px;
}